In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [ ]:
%sql SELECT * FROM songplays where artist_id <> 'None' LIMIT 5;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [3]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOBBUGU12A8C13E95D', 'Setting Fire to Sleeping Giants', 'ARMAC4T1187FB3FA4C', 2004, 207.77751),
 ('SOGNCJP12A58A80271', 'Do You Finally Need A Friend', 'ARB29H41187B98F0EF', 1972, 342.56934),
 ('SOPSWQW12A6D4F8781', 'Made Like This (Live)', 'ARGIWFO1187B9B55B7', 0, 225.09669),
 ('SOVYKGO12AB0187199', 'Crazy Mixed Up World', 'ARH4Z031187B9A71F2', 1961, 156.39465),
 ('SOZCTXZ12AB0182364', 'Setanta matins', 'AR5KOSW1187FB35FF4', 0, 269.58322)]

In [ ]:
%sql SELECT * FROM artists LIMIT 5;

In [ ]:
%sql SELECT * FROM time LIMIT 5;

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).

In [ ]:
%sql SELECT count(1) FROM songplays;

In [ ]:
%sql SELECT count(1) FROM users;

In [4]:
%sql SELECT count(1) FROM songs;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(77,)]

In [ ]:
%sql SELECT count(1) FROM artists;

In [ ]:
%sql SELECT count(1) FROM time;